.imgPremio {
  width: 100%;
  /* border-bottom-right-radius: 2em; */
}
.nombrePremio {
  color: white;
  background-color: rgb(0, 105, 92);

  padding: 10px;
}

.textdescripcion {
  padding-top: 15px;
  font-size: 11px;
  background-color: white;
}

.fondopremio {
  background-color: white;
}
